.navbar {
  font-family: 'Architects Daughter', cursive;
}

.navbar-brand{
  font-size: 25px;

}

/* Contact Section */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;

}

.fa:hover {
    opacity: 0.7;
}

.contact-links {
text-decoration:none;
display:inline-block;
float:right;
position: relative;
}
